body {
    background-color: #081c44;
    padding: none;

}

.container{
    width: 1600px;
    height: 900px;
    border: solid red 5px;
}



#ghost {
    position: absolute;
    top: 0;
    left: 120px;
    transition: 0.1s;
}

#dot {
    background-color: yellow;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
}

#snakeDot {
    background-color: rgb(162, 22, 22);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 3;
}